# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/

# Scraped data
scraped_data/
*.txt
!requirements.txt

# IDE
.vscode/
.idea/
*.swp
*.swo
*~\

*.json

# OS
.DS_Store
Thumbs.db

results/

*.env*
!.env.example